
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="List of questions">
		<meta name="author" content="Haseong Kim">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<center>
			<h1>Frequently Asked Questions</h1>
			{{#if check}}
				<p><a href="/logout">Log out</a></p>
			{{else}}
				<p><a href="/login">Log in</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/register">Register</a></p>
			{{/if}}
			<p><a href="/list">List</a>{{#if check}}&nbsp;&nbsp;&nbsp;&nbsp;<a href="/writeQuestion">Ask</a>{{/if}}</p>

			<div class="list">
				<div class="listHeader">
					<div class="listHeaderEach"><b>#</b></div>
					<div class="listHeaderEach"><b>Author</b></div>
					<div class="listHeaderEach"><b>Title</b></div>
					<div class="listHeaderEach"><b>Date</b></div>
					<div class="listHeaderEach"><b>Solved</b></div>
				</div>
				{{#if_eq list.nolist true}}
			</div>
					<h2>No lists found</h2>
				{{else}}
					{{#each list as |value key|}}
						<div class="listEach">
							{{#with this}}
								<div onclick="location.href='./faq/{{id}}'" class="listEachCell">{{id}}</div>
								<div onclick="location.href='./faq/{{id}}'" class="listEachCell">{{author}}</div>
								<div onclick="location.href='./faq/{{id}}'" class="listEachCell">{{title}}</div>
								<div onclick="location.href='./faq/{{id}}'" class="listEachCell">{{createDate}}</div>
								<div onclick="location.href='./faq/{{id}}'" class="listEachCell">
									{{#if_eq solved 0}}
										<font color="red">Not yet</font>
									{{else}}
										<font color="green">Solved</font>
									{{/if_eq}}
								</div>
							{{/with}}
						</div>
					{{/each}}
			</div>
				{{/if_eq}}
		</center>
	</body>
</html>
